<%- include('header'); -%>
<link rel="stylesheet" href="./homepage.css">
</head>

<body>
<%- include('navbar'); -%>
<div class="banner">
    <h3>WELCOME TO HIGH VISION</h3>
    <h1 class="mt-3">One stop solution to buying and selling properties hassle free.</h1>
    <div class="options">
        <a href="./sellPage" class="olink">Sell Property</a>
        <a href="" class="olink">View Property</a>
        <a href="" class="olink">More About Us</a>
    </div>
</div>
    <!-- <div class="container-fluid">
        <div class="profile">
            <div class="img">🤖</div>
            <h2>
                <%= user.name %>
            </h2>
            <span>
                <%= user.email %>
            </span>
            <a href="/logout">Log Out</a>
        </div>
    </div> -->
<%- include('footer'); -%>